{% extends 'student/dash_base.html' %}
{% load static %}
{% block content %}
<div class="recent-orders ">

    {% for m in messages %}
    <div class="message-box">
        {{ m }}
        <span class="close-button" onclick="this.parentElement.style.display='none'">close</span>
    </div>
    {% endfor %}

    <br>

    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            <small class="form-text text-muted">এখন যে পাসওয়ার্ড আছে তা দিন</small>
            {{ form.old_password.errors }}
        </div>
        <div>
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            <small class="form-text text-muted">নতুন মজবুদ একটি পাসওয়ার্ড দিন</small>
            {{ form.new_password1.errors }}
        </div>
        <div>
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            <small class="form-text text-muted">পুনরায় পাসওয়ার্ড নিশ্চিত করুন </small>
            {{ form.new_password2.errors }}
        </div>
        <button type="submit" class="edit-button">Change Password</button>
    </form>
</div>
{% endblock content %}
