{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/d.css' %}">
    {% block css %}{% endblock css %}
    <title> Dashboard | coaching</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="{% url "student_dashb" 'home' %}" class="logo">
            <i class="fas fa-user"></i>
            <div class="logo-name"><span> CS</span> Dash</div>
        </a>

        <ul class="side-menu">
            {% url 'student_dashb' page='home' as home %}
            {% url 'student_dashb' page='result' as result %}
            {% url 'student_dashb' page='class' as class %}
            {% url 'student_dashb' page='message' as message %}
            {% url 'student_dashb' page='feedback' as feedback %}
            {% url 'student_dashb' page='settings' as settings %}

            <li class="{% if request.path == home %}active{% endif %}">
                <a href="{% url 'student_dashb' page='home' %}"><i class="fas fa-home"></i> হোম </a>
            </li>
            <li class="{% if request.path == result %}active{% endif %}">
                <a href="{% url 'student_dashb' page='result' %}"><i class="fas fa-calendar"></i>সকল রেজাল্ট</a>
            </li>
            <li class="{% if request.path == class %}active{% endif %}">
                <a href="{% url 'student_dashb' page='class' %}"><i class="fas fa-book-open"></i>তোমার ক্লাস</a>
            </li>
            <li class="{% if request.path == message %}active{% endif %}">
                <a href="{% url 'student_dashb' page='message' %}"><i class="fas fa-bell"></i>বার্তা </a>
            </li>
            <li class="{% if request.path == feedback %}active{% endif %}">
                <a href="{% url 'student_dashb' page='feedback' %}"><i class="fas fa-user"></i>ফিডব্যাক দাও </a>
            </li>
            <li class="{% if request.path == settings %}active{% endif %}">
                <a href="{% url 'student_dashb' page='settings' %}"><i class="fas fa-cog"></i>সেটিংস</a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{% url "logout" %}" class="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    লগআউট
                </a>
            </li>
        </ul>

  </div>


    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'>O</i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='fa fa-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='fa fa-bell'></i>
                <span class="count">12</span>
            </a>
            {{request.user.student.s_name}}
            <a href="#" class="profile">
                <img src="{{request.user.student.profile_pic.url}}">
            </a>
        </nav>

        <!-- End of Navbar -->
        <main>

            {% block content %}{% endblock %}

        </main>
    
    </div>


    <script src="{% static 'js/d.js' %}"></script>
    {% block js %}{% endblock js %}
</body>

</html>




    <script src="index.js"></script>
</body>
