{% extends "student/dash_base.html" %}
{% load static %}

{% block content %}

<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3>তোমার বিষয় ভিত্তিক বাড়ির কাজ</h3>
            <i class='bx bx-filter'></i>
            <i class='bx bx-search'></i>
        </div>
        <table>
            <thead>
                <tr>
                    <th>তোমার বাড়ির কাজ</th>
                    <th>বিষয়</th>
                    <th>শিক্ষক</th>
                    <th>জমা দেওয়ার শেষ সময়</th>
                </tr>
            </thead>
            <tbody>
                {% for queryset in hw %}
                    {% for m in queryset %}
                        <tr>
                            <td><a href="{% url "view_hw" m.id %}">{{ m.title }} </a></td>
                            <td>{{ m.subject }}</td>
                            <td>{{ m.teacher }}</td>
                            <td>{{ m.last_day_of_submit }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}



