{% extends 'student/dash_base.html' %}

{% block content %}




<h1>তোমাদের পরীক্ষার রুটিনসমূহ </h1>
<br>
<div class="my_msg">
    {% for work in schedule %}
    
    <div>
        <div class="the_box_uv">
            
            <span class="material-icons-sharp">
                
                <i class='bx bxs-inbox'></i>
            </span>
            {% for w in work %}
            {{w.title}}
            
            <span class="sign"> <a href="{% url "downloadfile" w.id %}">Download</a></span>
            {% endfor %}
        </div>
    </div>
    
    {% endfor %}
    
    
    
</div>

{% endblock content %}