{% load static %}

<!-- home section starts  -->

<section class="home" id="home" style="padding-bottom: 0px;">

    <div class="image">
        <img src="{% static 'image/well1.png' %}" alt="">
    </div>

    <div class="content">
        <span>ডেমো কোচিং। </span>
        <h3>বচ্চা আপনার দায়িত্ব আমাদের। <a href="#"> দেখুন  </a></h3>
        <p>কোচিং সেন্টারে পাঠদানের বিশেষত্ব হলো ছাত্র-ছাত্রীদের ব্যক্তিগত সহায়তা এবং মাস্টারিং কর্সগুলির মাধ্যমে স্থানীয় প্রস্তুতি সাপেক্ষে শিক্ষার্থীদের ক্ষমতা উন্নত করা। কোচিং সেন্টারে স্বল্প গ্রুপের পাঠদান সম্পূর্ণ ব্যক্তিগতভাবে প্রদান করা যায়, যা ছাত্র-ছাত্রীদের বিশেষ প্রস্তুতির জন্য সহায়ক।</p>
        <a href="#category" class="btn">কোর্সগুলো</a>
    </div>
</section>

<!-- home section ends -->

<!-- info section starts  -->

<section class="info-container" style="padding-top: 0px;">

    <div class="box">
        <i class="fas fa-user-graduate"></i>
        <div class="info">
            <h3>১৫০+</h3>
            <p>শিক্ষার্থী</p>
        </div>
    </div>

    <div class="box">
        <i class="fas fa-laptop-code"></i>
        <div class="info">
            <h3>১০+</h3>
            <p>শ্রেণী </p>
        </div>
    </div>

    <div class="box">
        <i class="fas fa-chalkboard-teacher"></i>
        <div class="info">
            <h3>৫০+</h3>
            <p>শিক্ষক</p>
        </div>
    </div>

    <div class="box">
        <i class="fas fa-book"></i>
        <div class="info">
            <h3>৫০+ </h3>
            <p>বিষয়</p>
        </div>
    </div>

</section>
