{% load static %}
<!-- blogs section starts -->

<section class="blogs" id="blogs">

    {% comment %} dynamic {% endcomment %}

    <div class="heading">
        <span>আমাদের কিছু ব্লগ</span>
        <h3>আমাদের ট্যুর, ব্লগ, কথা ও অন্যান্য।</h3>
    </div>

    <div class="box-container">
        
        <div class="box">
            <img src="{% static 'image/a.png' %}" alt="">
            <a href="#" class="title">ব্লগ এর টাইটেল।</a>
            <p class="blog-description">আমাদের কোচিং এর কথা, ব্লগ, ছবি, ভ্রমন ইত্যাদি দেখুন। </p>
            <div class="icons">
                <p><i class="fas fa-calendar"></i> 21st may, 2021</p>
                <a href="#">আরো পড়ুন</a>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'image/b.png' %}" alt="">
            <a href="#" class="title">ব্লগ এর টাইটেল।</a>
            <p class="blog-description">আমাদের কোচিং এর কথা, ব্লগ, ছবি, ভ্রমন ইত্যাদি দেখুন। </p>
            <div class="icons">
                <p><i class="fas fa-calendar"></i> 21st may, 2021</p>
                <a href="#">আরো পড়ুন</a>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'image/blog-3.svg' %}" alt="">
            <a href="#" class="title">ব্লগ এর টাইটেল।</a>
            <p class="blog-description">আমাদের কোচিং এর কথা, ব্লগ, ছবি, ভ্রমন ইত্যাদি দেখুন। </p>
            <div class="icons">
                <p><i class="fas fa-calendar"></i> 21st may, 2021</p>
                <a href="#">আরো পড়ুন</a>
            </div>
        </div>

    </div>
    
</section>

<!-- blogs section ends -->
