{% load static %}

<!-- category section starts  -->
   
<section class="category" id="category" >

    <div class="heading">
        <span>ক্যাটাগরি</span>
        <h3>আমাদের টপ ক্যাটাগরি</h3>
    </div>

    <div class="box-container">

        
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <h3>HSC-SSC-PSC স্পেশাল </h3>
            <p>শেষ মুহূর্তে বিশেষ প্রস্তুতির জন্য ভর্তি হয়ে যান এখনই। পূর্ণ প্রস্তুতির সাথে পরীক্ষা হোক চমৎকার। </p>
        </div>

        <div class="box">
            <i class="fas fa-flask"></i>
            <h3> বিজ্ঞান বিভাগ</h3>
            <p>৯ম , ১০ম অথবা ইন্টার ১ম বর্ষ , ২য় বর্ষের বিজ্ঞান শাখায় আজই ভর্তি হয়ে নিন। দক্ষ শিক্ষক-শিক্ষিকা সকল অধ্যায় করে দিবে সহজ। </p>
        </div>

        <div class="box">
            <i class="fas fa-chart-line"></i>
            <h3>কমার্স বিভাগ</h3>
            <p>ব্যবসায়শিক্ষা শাখার ৯ম , ১০ম অথবা ইন্টার ১ম বর্ষ , ২য় বর্ষের দক্ষ শিক্ষক-শিক্ষিকা সকল টপিক সাজেশন সহ স্পেশাল গাইড দিয়ে শেষ করবেন। </p>
        </div>

        <div class="box">
            <i class="fas fa-palette"></i>
            <h3>আর্টস বিভাগ</h3>
            <p>মানবিকের যেকোনো সমস্যায় পাশে থাকবে দক্ষ দায়িত্ববান শিক্ষক-শিক্ষিকা। </p>
        </div>

        <div class="box">
            <i class="fas fa-child"></i>
            <h3> শিশু থেকে অষ্টম</h3>
            <p>আপনার বাচ্চার হাতেখড়ি শুরু হোক হশিখুশি ও আনন্দে ভরপুর শিক্ষা দিয়ে। আমাদের শিক্ষক-শিক্ষিকা আপনার বাচ্চার দায়িত্ব নিবে। করে নিবে বন্ধু সুলপ সম্পর্ক। </p>
        </div>


        <div class="box">
            <i class="fas fa-book-open"></i>
            <h3>একক বিষয় </h3>
            <p>আপনি যদি একটি ব্যাচ এ ভর্তি না হয়ে শুধু নির্ধারিত কোনো বিষয়েই শুধু ক্লাস করতে চান আপনি একটি ক্লাস এর একটি বিষয়ে ভর্তি হতে পারেন। </p>
        </div>

    

    </div>

</section>

<!-- category section ends -->

