{% load static %}


<!-- contact section starts  -->

<section class="contact" id="contact">

    <div class="heading">
        <span>যোগাযোগ করুন</span>
        <h3>আমরা আপনার সাথে যোগাযোগ করতে ফর্ম পুরন করুন।</h3>
    </div>

    <div class="row">

        <div class="contact-info-container">

            <div class="box">
                <i class="fas fa-phone"></i>
                <div class="info">
                    <h3>মোবাইল :</h3>
                    {% comment %} dynamic {% endcomment %}
                    <p>+৮৮০১২৩৪৫৬৭৮৯০</p>
                    <p>+৮৮০০১১২২৩৩</p>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-envelope"></i>
                <div class="info">
                    <h3>ঈমেইল করুন :</h3>
                    {% comment %} dynamic {% endcomment %}
                    <p>coaching@center.com</p>
                    <p>coaching.center@gmail.com</p>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-map"></i>
                <div class="info">
                    <h3>ঠিকানা :</h3>
                    {% comment %} dynamic {% endcomment %}
                    <p>ঢাকা, মিরপুর ২, রুপনগর - ১৮ নং রোড।</p>
                </div>
            </div>

            <div class="share">
                {% comment %} dynamic {% endcomment %}
                <a href="" class="fab fa-facebook-f"></a>
                <a href="" class="fab fa-twitter"></a>
                <a href="" class="fab fa-youtube"></a>
                <a href="" class="fab fa-linkedin"></a>
            </div>
            
        </div>

        <form action="">
            {% comment %} dynamic {% endcomment %}
            <div class="inputBox">
                <input type="text" placeholder="আপনার নাম" name="" id="">
                <input type="email" placeholder="ঈমেইল" name="" id="">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="মোবাইল নং" name="" id="">
                <input type="text" placeholder="যে বিষয়ে বলবেন" name="" id="">
            </div>
            <textarea name="" placeholder="আপনার কথা" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="পাঠিয়ে দিন" class="btn">
        </form>

    </div>

</section>

<!-- contact section ends -->
