{% load static %}


<!-- reviews section starts  -->

<section class="reviews" id="reviews">

    <div class="heading">
        <span>অভিবাবকদের মতামত</span>
        <h3>তারা কি বলেন আমাদের সম্পর্কে?</h3>
    </div> 

    <div class="box-container">

        {% comment %} dynamic {% endcomment %}

        <div class="box">
            <img src="images/pic-1.png" alt="">
            <h3>john deo</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos repellat sunt a temporibus suscipit distinctio maiores iste tenetur voluptate nostrum.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="images/pic-2.png" alt="">
            <h3>john deo</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos repellat sunt a temporibus suscipit distinctio maiores iste tenetur voluptate nostrum.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="images/pic-3.png" alt="">
            <h3>john deo</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos repellat sunt a temporibus suscipit distinctio maiores iste tenetur voluptate nostrum.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

    </div>

</section>

<!-- reviews section ends -->
