{% load static %}


<!-- reviews section starts  -->

<section class="reviews" id="reviews">

    <div class="heading">
        <span>অভিবাবকদের মতামত</span>
        <h3>তারা কি বলেন আমাদের সম্পর্কে?</h3>
    </div> 

    <div class="box-container">

        {% comment %} dynamic {% endcomment %}

        <div class="box">
            <img src="{% static "image/001.jpg" %}" alt="">
            <h3>আশিক</h3>
            <p>রিভিউ দেওয়া যাবে ডাইনামিক ভাবে । ওয়েবসাইট ও মেনেজমেন্ট এর কাজ শেষ ।</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="{% static "image/none.gif" %}" alt="">
            <h3>UNKNOWN</h3>
            <p>Their service is really good.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="{% static "image/pic-3.jpg" %}" alt="">
            <h3>কাদের </h3>
            <p>ভালো হয়ে যাও মাসুদ... </p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

    </div>

</section>

<!-- reviews section ends -->
