{% load static %}


<!-- reviews section starts  -->

<section class="reviews" id="reviews">

    <div class="heading">
        <span>অভিবাবকদের মতামত</span>
        <h3>তারা কি বলেন আমাদের সম্পর্কে?</h3>
    </div> 

    <div class="box-container">

        {% comment %} dynamic {% endcomment %}

        <div class="box">
            <img src="{% static "image/pic-1.jpg" %}" alt="">
            <h3>Ashiq</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos repellat sunt a temporibus suscipit distinctio maiores iste tenetur voluptate nostrum.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="{% static "image/pic-2.jpg" %}" alt="">
            <h3>Loki</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos repellat sunt a temporibus suscipit distinctio maiores iste tenetur voluptate nostrum.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="{% static "image/pic-3.jpg" %}" alt="">
            <h3>কাদের </h3>
            <p>মানে কি আর বলবো। অন্তরে জ্বালা। ভালো হয়ে যাও মাসুদ... </p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

    </div>

</section>

<!-- reviews section ends -->
