{% extends 'init/base.html' %}
{% load static %}

{% block title %}temp{% endblock title %}
{% block content %}


<section class="contact" id="contact">

        <div class="heading">
            
            <h3>{{role|title}} অ্যাকাউন্ট তৈরি করুন</h3> 
            <br> 
            <h2>অথবা অ্যাকাউন্ট থাকলে এখানে <a href=""> লগইন করুন</a> </h3>
        </div>
    
        <div class="row">

            <form class="form" id="a-form" action="" method="POST" novalidate>
                {% csrf_token %}
                <div class="inputBox" style="margin-bottom: 0px;">
                    {% for field in form %}
                    {{ field }}
                    <div class="box">

                        {% if field.errors %}
                        <p style="color: red; font-size: 14px;">{{ field.errors.as_text }}</p>
                        {% endif %}
                    </div>
                    
                    {% endfor %}
                  
                </div>

                {% if form.non_field_errors %}
                
                    {% for error in form.non_field_errors %}
                    <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                
            {% endif %}
                
                <input type="submit" value="পরবর্তী ধাপে প্রবেশ করুন" class="btn">
            </form>
            
    
        </div>
    
</section>
{% endblock content %}
