{% extends 'init/base.html' %}
{% load static %}

{% block title %}Others info fill{% endblock title %}
{% block content %}

<section class="blogs" id="blogs">
    <div class="heading">
        <span>শেষ ধাপ </span>
        <h3>এক নজরে তথ্যগুলো ও বিষয় নির্বাচন</h3>
    </div>

    <div class="box-container">
        
        <div class="box">
            <img src={{user.student.profile_pic.url}} alt="">
            <a href="#" class="title">{{user.student.s_name}}</a>
            <p class="blog-description">নাম : {{ user.student.s_name }} | আইডি : {{ user.student.s_id }} । অভিবাবকের মোবাইল : {{ user.student.guardian_phone }}</p>
            <p class="blog-description"></p>
            
        </div> 
        

            <form class="box" id="a-form" action="" method="POST" novalidate>
                {% csrf_token %}

                <select class="select-dropdown" name="selected_subjects" multiple>
                    {% for subject in user.student.class_subjects.subjects.all %}
                        <option value="{{ subject.name }}">{{ subject.name }}</option>
                    {% endfor %}
                </select>
        
                <p class="error-message">অবশই আপনার প্রদান করা তথ্য সঠিক এবং আপনি যেসব বিষয়ে ক্লাস করতে ইচ্ছুক তা নির্বাচন করুন, এই পেজ এ পুনরায় ফিরে আসার উপায় নেই। যদি ভুল করে থাকেন তাহলে এডমিন কে কল করুন, তিনি ঠিক করতে পারবেন।</p>
                    <button class="submit-button" type="submit">তথ্য নিশ্চিত করুন ও ভর্তি সম্পূর্ণ করুন</button>
                     
            </form>    
</section>

{% endblock content %}
