{% extends 'init/base.html' %}
{% load static %}

{% block title %} Select role{% endblock title %}
{% block content %}


<section class="blogs" id="blogs">
    <div class="heading">
        <h3>আপনার অবস্থান নির্ধারণ করুন। </h3>
    </div>
    <h2 style="color : red;">
        <p>
            Warning : If you select wrong role then do not fill the next steps informations. Contact to the admin he/she can fix it. 
        </p>
        <p>
            সতর্ক বার্তা : 
            যদি আপনি ভুলবশত অন্য রুল (আপনার ক্যাটাগরি) সিলেক্ট করে থাকেন এবং পরের ধাপে চলে গিয়ে Email/Phone No দিয়ে রেজিস্ট্রেশন করেন, 
            তাহলে শেষ ফর্ম পুরন না করে এডমিন এর সাথে যোগাযোগ করুন। তিনি সমাধান করে দিলে ওই ধাপ পুরন করুন। 
        </p>
    </h2>
    <div class="box-container">
        <form method="post" action="">
            {% csrf_token %}
            <select id="role-select" class="btn" name="role">
                <option value="" disabled selected>রুল সিলেক্ট করুন</option>
                <option value="teacher">শিক্ষক / শিক্ষিকা</option>
                <option value="student">শিক্ষার্থী</option>
                <option value="guardian">অভিভাবক</option>
            </select>
            <button type="submit" class="btn">পরবর্তী ধাপ</button>
        </form>
        
    </div>
    
</section>
{% endblock content %}
