<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/sup.css' %}">
</head>
<body>
    <div class="main">
      
    <div class="container a-container" id="a-container">

      <form class="form" id="a-form" action="" method="POST" novalidate>
        {% csrf_token %}
        <h2 class="form_title title">{{role|title}} অন্যান্য তথ্য দিন। </h2>

          {% for field in form %}
          {% if field.name != 'class_subjects' %}
              {{ field }}
          
              {% if field.errors %}
                  <p style="color: red;">{{ field.errors.as_text }}</p>
                  {% endif %}
          {% endif %}
          {% endfor %}
    
          <h4 style="color:darkred;">আপনি যে ক্লাসে ভর্তি হবেন তা নির্ধারণ করুন। *</h4>
          {{ form.class_subjects }}
    
      
          {% comment %} IF NON FIELD ERROR APPEAR {% endcomment %}
      
          {% if form.non_field_errors %}
          <div>
              {% for error in form.non_field_errors %}
              <p style="color: red;">{{ error }}</p>
              {% endfor %}
          </div>
          {% endif %}
          
          
          <input type="submit" value="NEXT" style="color: #fff; background-color: #4B70E2; border: none; border-radius: 25px; padding: 10px 20px; font-weight: bold; font-size: 16px; letter-spacing: 1.15px; box-shadow: 2px 2px 4px #d1d9e6, -2px -2px 4px #f9f9f9; outline: none; cursor: pointer;">

          
      </form>
    
    <br>
    <a href="{% url 'logout' %}">লগআউট</a>

    </div>

  </div>
  <script src=" {% static 'js/sup.js' %} "></script>
</body>
</html>