{% extends 'teacher/base.html' %}
{% load static %}
{% block content %}


<div class="recent-orders ">
  {% for m in messages %}
  <div class="message-box">
      {{ m }}
      <span class="close-button" onclick="this.parentElement.style.display='none'">close</span>
  </div>
{% endfor %}


  <h1>Edit Your Profile</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for f in form %}
    
    {{f.label_tag}}
    {{f}}
    
    {% endfor %}


    <button type="submit" class="edit-button">Save Changes</button>
    
  </form>

  {% comment %} <img src="{{ request.user.teacher.profile_pic.url }}" alt="profile"> {% endcomment %}
  <a style="color: red;" href="{% url 'change_password' %}">
    <i class='bx bx-lock-open-alt'></i> RESET PASSWORD
  </a>
  


</div>
{% endblock content %}
