{% extends 'teacher/base.html' %}
{% load static %}
{% block content %}

<h1>Send a message for all your student</h1>

<div class="recent-orders">
    

    {% for m in all_message %}
    {% if m.visited == False %}
    
    <a href="{% url "seen_message" m.id %}" style = "color:red;" class="input-field ">
        {{m}}
        
    </a>
    {% else %}
    <a href="#" style = "color:green;" class="input-field ">
        {{m.headline}}
        
    </a>
    {% endif %}
    
    <br>
    {% endfor %}



</div>


{% endblock content %}
