{% extends 'teacher/base.html' %}
{% load static %}
{% block content %}

<h1>আপনার জন্য সকল বার্তা </h1>

<div class="recent-orders">
    

    {% for m in all_message %}
    {% if m.visited == False %}
    
    <div>

        <a  href="{% url "seen_message" m.id %}">

            <div class="the_box_uv">
            <span class="material-icons-sharp">
                arrow_right
            </span>
            <span class="material-icons-sharp">
                inbox
            </span>
                
                {{m.headline}}
                <span class="sign">NEW</span>
            </div>
        </a>

    </div>
 
    {% else %}


    <div>

        <div class="the_box_v">

            <a href="{% url "seen_message" m.id %}" style = "color:green;" class="input-field ">
                {{m.headline}}
            <span class="material-icons-sharp">
                done_outline
            </span>
                
            </a>

        </div>

    </div>
    {% endif %}
    
    {% endfor %}



</div>


{% endblock content %}
