{% extends 'teacher/base.html' %}
{% load static %}
{% block content %}
<h1>যেসব অধ্যায়ের এবং ক্লাসের নোট প্রদান করতে চান করুন</h1>
{% for m in messages %}
    <div class="message-box">
        {{ m }}
        <span class="close-button" onclick="this.parentElement.style.display='none'"><i class='bx bxs-no-entry'></i></span>
    </div>
{% endfor %}


<form action="" method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}
    {{form}}

    <button type="submit" id="quiz-create-button" class="edit-button">Upload Note</button>
</form>

<h1>
যেসব বিষয়ের নোট এ পর্যন্ত দিয়েছেন 
</h1>

<div class="recent-orders">
    <table>
        <thead>
            <tr>
                <th>Shift</th>
                <th>Class</th>
                <th>Subject</th>
                <th>Note</th>
                <th>Update</th>
                
                
                <th></th>
            </tr>
        </thead>
        <tbody>

            {% if subs %}
            {% for s in subs %}
            <tr>
            <td>
                {{s.batch.shift}}
            </td>
            {% comment %} <td>
                {{s.batch.batch_name}}
            </td> {% endcomment %}
            <td>
                {{s.class_name}}
            </td>
            <td>
                {{s.subject}}
            </td>
            {% comment %} <td>
                {{s.start_class}}
            </td> {% endcomment %}
        </tr>
        {% endfor %}
            
            
            {% else %}
            <tr>
                <td colspan="5"><h2>দুঃখিত আপনার কোনো বিষয় / শিক্ষার্থী নেই</h2></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>


{% endblock content %}
