{% extends 'teacher/base.html' %}
{% load static %}
{% block content %}

<h1>যেসব অধ্যায়ের এবং ক্লাসের নোট প্রদান করতে চান করুন</h1>

{% for message in messages %}
    <div class="message-box">
        {{ message }}
        <span class="close-button" onclick="this.parentElement.style.display='none'">
            <i class='bx bxs-no-entry'></i>
        </span>
    </div>
{% endfor %}

<div class="bottom-data">
    <div class="orders">
    <form action="" method="POST">
        {% csrf_token %}

        <label for="the_student">কাকে নোটিশ দিবেন</label>
        <select name="the_student" class="input-field">
            <option value="">Select student</option>
            {% for std in mystudent %}
                <option value="{{ std.id }}">{{ std.s_name }}</option>
            {% endfor %}
        </select>

        <label for="notice">নোটিশ লিখুন</label>
        <input type="text" name="notice" class="input-field"></input>

        <label for="notice_last_for">নোটিশটির স্থায়ীকাল (উঃ আগামি ক্লাস হবে না। এখানে তারিখ আগামি দিন পর্যন্ত দিন) </label>
        <input type="date" name="notice_last_for" class="input-field">

        <button type="submit" id="notice-send-button" class="edit-button">Send Notice</button>
    </form>

    </div>
</div>

<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3>যেসব Notice এ পর্যন্ত দিয়েছেন </h3>
            <i class='bx bx-filter'></i>
            <i class='bx bx-search'></i>
        </div> 
    <table>
        <thead>
            <tr>
                <th>শিক্ষার্থী  </th>
                <th>নোটিস</th>
                <th>মুছুন</th>
                
            </tr>
        </thead>
        <tbody>

            {% if notices %}
            
            {% for N in notices %}
            <tr>
            <td>
                {{N.student}}
            </td>
            
            <td>
                {{N.notice}}
            </td>
            
            <td>
                <form action="{% url "delete_notice" N.uid %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="edit-button">DELETE</button>
                </form>
            </td>
            
        </tr>
        {% endfor %}
            
            
            {% else %}
            <tr>
                <td colspan="5"><h2>আপনার কোনো বিষয় এ কোনো নোট প্রদান করা হয় নি </h2></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
</div>


{% endblock content %}
