{% extends 'teacher/base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
<style>
  
  .checkbox-label {
    position: relative;
    padding-left: 20px; 
    margin-bottom: 10px;
    margin-top: 19px; 
    cursor: pointer;
    user-select: none;
    font-size: 15px;
  }

  .inputs-ans {
    width: 50%;
    padding: 0.7rem;
    border: 1px dashed rgb(4, 124, 0);
    border-radius: 0px;
    font-size: 1rem;
    color: var(--color-dark-variant);
  }

  .inputs {
    width: 100%;
    padding: 0.7rem;
    border: 1px dashed rgb(4, 124, 0);
    border-radius: 0px;
    font-size: 1rem;
    color: var(--color-dark-variant);
  }
</style>

{% for m in messages %}
    <div class="message-box">
        {{ m }}
        <span class="close-button" onclick="this.parentElement.style.display='none'"><i class='bx bxs-no-entry'></i></span>
    </div>
{% endfor %}

<h1>কুইজ এর প্রশ্ন তৈরি করুন</h1>

<div class="bottom-data">
  <div class="orders">
    <form method="post">
      {% csrf_token %}
      <h3>প্রশ্ন </h3>
      <input class="inputs" type="text" name="question" required><br>
      <h3>এই প্রশ্নের মান </h3>
      <input class="inputs" type="text" name="mark_ques" required><br>
      <h3>কতগুলো অপশন দিতে চান এই প্রশ্নের জন্য</h3>
      <input class="inputs" type="text" name="no_option" placeholder="ডিফল্ট হিসেবে ৪ দেওয়া আছে( প্রয়োজন ছাড়া পরিবর্তন করবেন না)" ><br>
      <h2>এই প্রশ্নের জন্য সঠিক উত্তর সহ অন্যান্য অপশন যুক্ত করুন</h2>
      {% for i in loop|custom_range %}
      <input class="inputs-ans" type="text" name="answer_{{ i }}" placeholder="Option - {{ i }}">
      <span class="checkbox-label">
          <input class="checkbox-label" type="checkbox" name="correct_answer" value="{{ i }}"> ইহা সঠিক
      </span>
      <br>
      {% endfor %}
  
      
      <button class="edit-button" type="submit">আপলোড করুন </button>
    </form>
  </div>
</div>

<div class="bottom-data">
  <div class="orders">
    <div class="header">
        <h3>আপনি এই কুইজের যেসব প্রশ্ন দিয়েছেন</h3>
      </div> 

      <table>
        <thead>
            <tr>
                <th>প্রশ্ন</th>
                
                <th>মুছুন</th>
                
            </tr>
        </thead>
        <tbody>

          {% if my_question %}
          {% for qes in my_question %}
            <tr>
            <td>
              <a href="#">
                {{qes.ques_name}}  
              </a>
            </td>

            <td>
              <form method="post" action="{% url 'delete_question' qes.uid %}">
                {% csrf_token %}
                <button type="submit" style="background: red;padding: 5px 5px 5px 5px; margin:0px 0px 0px 0px;" class="edit-button">বাতিল করুন</button>
              </form>
            </td>
            
        </tr>
        {% endfor %}
            
            
            {% else %}
            <tr>
              <td><h2>আপনি কোনো প্রশ্ন যুক্ত করেন নি </h2></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
     
</div>
</div>

<br>


{% endblock %}