{% load static %}

{% comment %} <div class="analyse" >

    <div class="sales" style="box-shadow:none;">
        <div class="status" >
            <div class="info">
                <h3>Your Salary</h3>
                <h1>15000/=</h1>
            </div>
            <div class="progresss">
                <img src="{% static "image/salary.png" %}" alt="">
            </div>
        </div>
    </div>
    <div class="sales" style="box-shadow:none;">
        <div class="status" >
            <div class="info">
                <h3>You widrawed</h3>
                <h1>10000/=</h1>
            </div>
            <div class="progresss">
                <img src="{% static "image/widraw.png" %}" alt="">
            </div>
        </div>
    </div>
    
</div> {% endcomment %}

