{% extends 'teacher/base.html' %}
{% load static %}
{% block content %}


<h1></h1>

<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3>আপনার শিক্ষার্থীরা</h3>
            <i class='bx bx-filter'></i>
            <i class='bx bx-search'></i>
        </div> 
    <table>
        <thead>
            <tr>
                <th>শিক্ষার্থীর নাম</th>
                <th>শিক্ষার্থীর আইডি</th>
                <th>অবিভাবক এর নাম্বার</th>
                <th>ভর্তি তারিখ </th>
                <th>শেষ অ্যাক্টিভ </th>

                
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            
            <tr>
                <td>
                    {{s.s_name}}
                </td>
                <td>
                    {{s.s_id}}
                </td>
                <td>
                    <a href="callto:{{s.guardian_phone}}">{{s.guardian_phone}} </a>
                </td>
                <td>
                    {{s.user.date_joined}} 
                </td>
                <td>
                    {{ s.user.last_login|timesince }}
                </td>
                
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    
</div>
</div>

{% endblock content %}
